body{
    margin-top: 20px;
    background-color: lightskyblue;
}

.header{
    margin-top:30px;
    margin-bottom:10px;
}

.search-box{
    margin-top:10px;
    background-color:gray;
    height: 40px;
    border-radius:40px;
}

#search-txt {
  border:none;
  background: none;
  outline: none;
  float: left;
  padding:6px;
  color:white;
  font-size: 16px;
  transition: 0.4s;
  
}

.spaceCol{
    background-color: lightskyblue;
}

.profileCol{
    background-color: lightskyblue;
}

#profile{
  border-radius:70%;
  margin-top:5px;
}

.name{
  padding: 20px;
}

.settings {
  padding: 20px;
}

.post_button {
	border: 1px solid black;
	padding: 10px;
	background-color: white;
	text-align: center;
	margin: 5%;
}

.post_button:hover{
	background-color: lavender;
}

.post-name{
	margin-top: 10px;
	margin-left: 5px;
}

.post{
    background-color: orange;
}
