body {
    background-color: orange;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:210px;
    height: 210px;
}

.loginWord {
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}

.loginForm {
    border: 1px solid transparent;
}

.column {
    border: 1px hidden;
    padding: 5px;
    background-color: honeydew;
    text-align: center;
}

.column:hover {
    background-color: lavender;
}

.space {
    border: 1px hidden;
    padding: 5px;
    background-color: white;
}
